.Mina_contact{

    @apply  w-full min-h-screen 
}


.contact_header h1{

    @apply text-white text-center font-Jenna font-bold 


    
    text-[]
    md:text-[]
    lg:text-[37px]
    

    pt-[]
    md:pt-[30px]
    lg:pt-[10px]
}

.contact_header h1 span{

    @apply  text-[#07EAFF]  animate-pulse
}


.mina_img img{

    @apply 

    w-[]
    sm:w-[]
    md:w-[]
    lg:w-[280px]
    xl:w-[400px]
    
    lg:mt-[]
    xl:mt-[-40%]
    
    
}

.contact_box{

    @apply bg-[rgb(0,51,113)] rounded-[15px] flex border-[1px] border-gray-500

    w-full
    h-[600px]

    px-[35px]
    py-[30px]

    mt-[3%]
}

.all_icons_c{

    @apply mt-[]

    sm:mt-[]
    md:mt-[]
    lg:mt-[50%]

    ml-[3%]
   
}

.contact_icons{

    @apply mt-[] flex gap-[20px]

    sm:mt-[]
    md:mt-[]
    lg:mt-[7%]

    ml-[3%]
}

.all_icons_c h2{

    @apply font-Jenna text-gray-400 font-semibold tracking-[2px]

    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[15px]

 

}

.all_icons_c h3{

    @apply font-Jenna text-gray-200 font-bold tracking-[1px]

    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[15px]

    mb-[50%]

}




.c_icon{

    @apply hover:text-[rgb(157,245,253)] 

    transition-all duration-[.3s]

    text-[38px] text-white

    
}


.right_commu{

    @apply 

    ml-[]
    sm:ml-[]
    md:ml-[]
    lg:ml-[2%]
    xl:ml-[2%]
}

.right_commu h5{

    @apply  text-[#95f5fe] font-Jenna font-semibold

    text-center
    
    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[20px]
    xl:text-[28px]
}
.right_commu p{

    @apply text-gray-100 font-Jenna font-normal

    text-center

    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[14px]
    xl:text-[16px]
}

.box_2{

    @apply bg-[#082f54]   w-full rounded-md

    p-[10px]
  
    mt-[30px]
    h-[430px]
}


