.Mina_portfolio{

    @apply w-full h-screen pt-[25px]
}

.P_header{

    @apply relative z-[10]
}

.P_header h1{

    @apply text-white text-center font-Jenna font-bold 


    
    text-[]
    md:text-[]
    lg:text-[37px]
    

    pt-[]
    md:pt-[60px]
    lg:pt-[60px]
}

.P_header h1 span{

    @apply  text-[#07EAFF]  animate-pulse
}


.Port_C{

    @apply absolute top-[5%] right-[37%] z-[-10] 

    w-[]
    md:w-[]
    lg:w-[150px]

 
}

.Port_C img{

   @apply animate-spin-slow opacity-[90%]
}


.Recent_work h2{

    @apply font-Jenna font-semibold text-white

    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[30px]

    mt-[]
    sm:mt-[]
    md:mt-[]
    lg:mt-[15px]

}

.about_work{

    @apply bg-white/20 inline-block px-[8px]  rounded-sm

    mt-[2%]
}

.about_work h1{

    @apply text-white  font-Volvohk tracking-[2px] font-normal

    md:text-[10px] 

    lg:text-[20px]

   
}

.about_work h1 span{

    @apply text-[#07EAFF]
}
