.Skills_Mina{

    @apply w-full  relative pb-[50px] 
}

.s_h h1{

    @apply text-white text-center font-Jenna font-bold 


    
    text-[]
    md:text-[]
    lg:text-[38px]
    

    pt-[]
    md:pt-[60px]
    lg:pt-[60px]
}

.s_h h1 span{

    @apply  text-[#07EAFF]  animate-pulse
}



.Scrcl {

    @apply absolute  top-[20px] right-[45.4%] animate-spin-slow opacity-[95%]

    w-[]
    sm:w-[]
    md:w-[]
    lg:w-[160px]
    xl:w-[]
}


.all_Skills{

    @apply flex  flex-wrap justify-start flex-col

    mt-[8%]
    gap-[25%]
}

.sing_skill{

    @apply flex gap-[15px] items-center bg-gradient-to-r from-[#fff]/15 to-[#000]/15 rounded-sm shadow-[0px_3px_13px_-9px_#5c9aff] hover:shadow-none transition-all duration-[.3s]
    
    px-[10px] py-[10px]
    
    mb-[25px]
}

.sing_skill img {

    @apply w-[]

    sm:w-[]
    md:w-[]
    lg:w-[40px]
    xl:w-[]
}

.sing_skill h2{

    @apply font-medium text-[#47e3ff]
    
    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[19px]
    xl:text-[]
}


.examp h3{

    @apply text-gray-300 font-Jenna font-normal

    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[18px]

    mt-[5px]
    
}
