.Resume{

    @apply w-full h-screen pt-[20px]
}

.Resume_head h1{

    @apply font-Jenna font-semibold text-white text-center

    animate-fade

    text-[]
    md:text-[]
    lg:text-[37px]
    

    pt-[]
    md:pt-[60px]
    lg:pt-[60px]
}

.Resume_head h1 span{

    @apply  text-[#07EAFF]  animate-pulse
}



.video{

    @apply flex justify-center items-center
}

.resume_madina .Resume_video iframe{

    @apply   z-[10]  rounded-lg
    
    mt-[15%]
    
    w-[]
    md:w-[550px]
    lg:w-[700px]
    xl:w-[750px]

    h-[]
    sm:h-[]
    md:h-[]
    lg:h-[400px]
}

.pic_Cr{

    @apply absolute top-[5%] right-[18%] z-[-10]

    w-[]
    md:w-[]
    lg:w-[200px]

 
}

.pic_Cr img{

   @apply animate-spin-slow
}


.youtube {

    @apply absolute top-[58%] right-[46.5%] animate-shake

    w-[]
    sm:w-[]
    md:w-[]
    lg:w-[75px]
    
}



.RHireme{

    @apply bg-[#0de7fb] py-[7px] px-[15px] w-fit
    
    hover:bg-[#000] hover:text-white hover:border

    border-[1px]   text-[#000]  rounded-md

    active:scale-[1.1] transition-all duration-[.4s] font-Jenna

    lg:mt-[60px] m-auto
 }  
 
 
 .RHireme  .reme button a h2{

    @apply font-Jenna font-bold


    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[18px]
 }


 .reme .Arrow{

    @apply animate-pulse
    
    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[20px] 
 }


