.About_Mina{

    @apply  w-full min-h-screen  flex items-center pb-[100px] pt-[50px]
}

.SmallC{

    @apply absolute top-[-20px] right-[-40%]
}

.SmallC img{

    @apply 

    w-[]

    lg:w-[160px] animate-spin-slow
}

.circle{

    @apply absolute bottom-[-10%] left-[-30%] z-[-10]
}

.circle img{

    @apply animate-spin-slow
    
    w-[]
    md:w-[]
    lg:w-[370px]
    xl:w-[380px] 
}


.all_mina{

    @apply flex justify-center  gap-[70px] 

   
}

.about_img{

    @apply border-[1px] border-[#737373] rounded-[30px] 
}

.about_img .mypicture{

    @apply 
    
    w-[]
    md:w-[]
    lg:w-[450px]
    xl:w-[480px]
}


.about_me{

    @apply bg-white/20 inline-block px-[8px]  rounded-sm

    mt-[6%]
}


.about_me h1{

    @apply text-white  font-Volvohk tracking-[2px] font-normal

    md:text-[10px] 

    lg:text-[20px]

   
}

.about_me h1 span{

    @apply text-[#07EAFF]
}


.intro h2{

    @apply text-white  mb-[30px] mt-[30px] font-Jenna font-extrabold
    
    tracking-[2px]

    text-[]
    lg:text-[28px]
    w-[]
    lg:w-[550px]
}

.intro h2 span{

    @apply   text-[#07EAFF]
}
   


.main_about p{

    @apply text-[#9FF7FF] font-Poppins font-normal leading-loose

    tracking-[1px]

    text-[]

    lg:text-[14px]
    
    lg:w-[550px]
}

.main_about{

    @apply w-fit p-[15px] bg-white/5 rounded-lg

    border-[1px] border-[#303030]
}


.hireme{

    @apply bg-[#0de7fb] py-[7px] px-[15px] w-fit

    animate-wiggle animate-infinite hover:animate-none
    
    hover:bg-[#000] hover:text-white hover:border

    border-[1px]   text-[#000]  rounded-md

    active:scale-[1.1] transition-all duration-[.4s] font-Jenna

    mt-[35px] 
 }  
 
 
 .hireme  .along button a h2{

    @apply font-Jenna font-bold


    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[18px]
 }


.along .Arrow{

    @apply animate-pulse
    
    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[20px] 
 }
