
.Mina_nav {
    @apply fixed w-full  pt-[20px] pb-[8px] transition-all duration-300 bg-transparent backdrop-blur-0
    
    z-[10000];
}

.Mina_nav.scrolled {
    @apply bg-[rgba(107,107,107,0.44)] backdrop-blur-[10px];
}


.main_nav{

    @apply flex justify-between items-center
}

.Logo img{

    @apply  w-[125px] 
}

.text ul{

    @apply flex items-center
    
    gap-[50px] font-Jenna font-semibold
    
    text-[17.5px] tracking-wide text-[#dfdede]
}

.text ul li a{

    @apply hover:text-[#0de7fb] transition-all duration-[.3s] cursor-pointer
}


.talk{

    @apply bg-[#00def2] py-[8px] px-[8px] flex justify-center items-center
    
    hover:bg-[#000] hover:text-white 

    border-[1px]   text-[#000]  rounded-[6px]

    active:scale-[1.1] transition-all duration-[.4s] font-Jenna

 }  
 
 
 .talk   .letstalk button a h2{

    @apply font-Jenna font-bold


    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[15px]
 }


 .letstalk .Arrow{

    @apply animate-pulse
    
    text-[]
    sm:text-[]
    md:text-[]
    lg:text-[17px] 
 }


